.dialogs {
    display: grid;

    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr;

    grid-template-areas: "chats messages";
    column-gap: 20px;
}

/* Chats (users) */

.chats_list {
    grid-area: chats;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10px;
}

.chats_list li {
    width: 100%;
}

/* Messages with current user */

.messages_with_user {
    grid-area: messages;
}