.message_card {
    width: 65%;

    border-radius: 20px;
    background: cornflowerblue;
    color: #171717;

    padding: 10px;
    margin-bottom: 12px;
}

.my_message {
    width: 65%;
    transform: translateX(55%);

    border-radius: 20px;
    background: cornflowerblue;
    color: #171717;

    padding: 10px;
    margin-bottom: 12px;
}

.user_description_card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    margin-bottom: 8px;
}

.user_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user_name {
    font-size: 22px;
    font-weight: 600;
}

.text_of_message {
    font-size: 18px;
    font-weight: 600;
}