.navigation {
    grid-area: navigation;
    box-sizing: content-box;
}

.navigation_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 10px;
}

.item {
    width: 80%;
}

.item a {
    display: block;
    min-width: 100%;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 16px;
    width: 100%;
    transition: all ease .4s;
}

.link {
    border: 2px solid rgb(21, 182, 251);
    color: rgb(21, 182, 251);
}

.active {
    border: 2px solid rgb(48, 255, 234);
    color: rgb(48, 255, 234);
}