.header {
    grid-area: header;
    background: #171717;

    margin-bottom: 20px;
    padding: 10px 0 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo_img {
    width: 46px;
    height: 46px;
}

.logo_text {
    margin-left: 14px;
    color: rgb(21, 182, 251);
}

/* Authorization */
.login {
    font-size: 18px;
    font-weight: 600;
    color: rgb(21, 182, 251);

    transition: all ease .4s;
    cursor: pointer;
}

.login:hover {
    color: cornflowerblue;
}

.auth_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sign_in_btn {
    width: 32px;
    height: 32px;
    background: url("../../images/auth_icons/sign_in.png");
    background-size: 32px 32px;
    background-position: center;
    transition: all ease .4s;
}

.sign_up_btn {
    width: 32px;
    height: 32px;
    background: url("../../images/auth_icons/sign_up.png");
    background-size: 32px 32px;
    background-position: center;
    transition: all ease .4s;
}

.sign_in_btn:hover {
    background: url("../../images/auth_icons/sign_in_hovered.png");
    background-size: 32px 32px;
    background-position: center;
}

.sign_up_btn:hover {
    background: url("../../images/auth_icons/sign_up_hovered.png");
    background-size: 32px 32px;
    background-position: center;
}